<!DOCTYPE html>
<html lang = en>
    <head>
        <title>Homework 1-Helman</title>
        <meta charset="utf-8">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />  
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <h1>
                Programming Case Types
            </h1>
        </header>
        <nav>
            <div class="dropdown">
                <mark>Navigation Dropdown</mark>
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/camel"> Camel </a>
                    <a href="/snake"> Snake </a>
                    <a href="/kebab"> Kebab </a>
                </div>
            </div>
        </nav>
    