<% include partials/header.ejs %>
        <div class="infoText">
            <img src="img/camelCase.png" alt="Casey the Camel">
            <p>
                Camel case is one of the most popular style of text casing in programming. <br>
                It is conventionally used in most modern programming languages such as C++, Java, and Javascript. <br>
                As our friendly camel shows, it is done by capitalizing the first letter in each word after the first.
            </p>
        </div>
        
            <footer>
            <% include partials/joke.ejs %>
            <br>
            <h2>Sources: </h2>
            <a href="https://medium.com/better-programming/string-case-styles-camel-pascal-snake-and-kebab-case-981407998841">Medium.com</a>
            <br>
            <a href="https://en.wikiversity.org/wiki/CamelCase">Wikiversity.org</a>

<% include partials/footer.ejs %>