<% include partials/header.ejs %>
        <div class="infoText">
            <p>
                In general, programming languages reserve the ' ', or space,
            character for special cases. <br> As the space character is reserved, 
            we are limited in how we can express natural language in our code. <br>
            For example: the phrase <i>user login count</i> cannot be expressed with spaces in our code <br>
            as 'user', 'login' and 'count' will be treated as separate entities. <br>
            Instead we must combine words together to form a single variable. <br> <br>
            How we combine these words together is where the difference in type casing comes into play!
            </p>
            
        </div>
            <footer>
                <% include partials/joke.ejs %>
                <br>
                <h2>Sources: </h2>
                <a href="https://medium.com/better-programming/string-case-styles-camel-pascal-snake-and-kebab-case-981407998841">Medium.com</a>
<% include partials/footer.ejs %>