<% include partials/header.ejs %>
        <div class=infoText>
            <img src="img/snake.png" alt="Snakey">
            <p>
                Snake case is the other most popular casing convention. <br>
                It is commonly used throughout the Python language and conventionally used <br>
                for constant variables in languages like C++ and Java. <br>
                It is done by using lowercase words with underscores between them. <br>
                E.G. this_is_snake_case
            </p>
        </div>
        <footer>
            <% include partials/joke.ejs %>
            <br>
            <h2>Sources: </h2>
            <a href="https://medium.com/better-programming/string-case-styles-camel-pascal-snake-and-kebab-case-981407998841">Medium.com</a>
            <br>
            <a href="https://en.wikipedia.org/wiki/Snake_case">Wikipedia.org</a>
<% include partials/footer.ejs %>